

*{
  margin: 0%;
}
body{
  height: 100vh;
  /* width: 100%; */
  background: linear-gradient(rgba(14, 12, 12, 0.6), rgba(0, 3, 5, 0.9));
  font-family: sans-serif;
  /* background-repeat: no-repeat; */
}